body{
    text-align: center;
    background-size: cover;
    color: rgb(19, 189, 189);
}

h4 {
    color: brown;
}

.table{
    margin-left: 60px;
    margin-top: 100px;
    color: darkcyan;
}

th, tr {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #e9b8ac;
    color: darkcyan;

.text{
    margin-left: 300px;
    margin-top: 150px;
    color: darkcyan;
} */

th {
    text-align: center;
}